In [12]:
import pandas as pd
import numpy

In [13]:
# Importing the created .CSV and labeling it's columns.
data = pd.read_csv(r'C:\Users\brian\OneDrive\Documents\arrivaldelays.csv', usecols=['Los Angeles', 'Phoenix', 'San Diego', 'San Francisco', 'Seattle'], encoding="utf-8")

In [14]:
print(data)

   Los Angeles  Phoenix  San Diego  San Francisco  Seattle
0          497      221        212            503     1841
1           62       12         20            102      305
2          694     4840        383            320      201
3          117      415         65            129       61

In [25]:
# Creating a DataFrame for the imported .CSV data.
df = pd.DataFrame(data)

In [26]:
# Unable to run sum calculations(INT) with Airlines(VARCHAR) included, ommitted "Airlines" to run calcs.
# Creating a new DataFrame to summarize the mileage that will be appended to existing DF.
# This df2 DataFrame will sumarize each airline's miles by row to include all cities.
df2 = df.sum(axis=1)

In [28]:
print(df2)

0    3274
1     501
2    6438
3     787
dtype: int64

In [19]:
print(df)

   Los Angeles  Phoenix  San Diego  San Francisco  Seattle
0          497      221        212            503     1841
1           62       12         20            102      305
2          694     4840        383            320      201
3          117      415         65            129       61

In [8]:
# Inserting omitted columns to DataFrame
df.insert(0, "Airline", ['Alaska on time', 'Alaska delayed','AM West on time', 'AM West delayed'])

In [30]:
# Adding a Sum column for summarized totals
df['Sum'] = df2

In [31]:
print(df)

           Airline  Los Angeles  Phoenix  San Diego  San Francisco  Seattle  \
0   Alaska on time          497      221        212            503     1841
1   Alaska delayed           62       12         20            102      305
2  AM West on time          694     4840        383            320      201
3  AM West delayed          117      415         65            129       61

    Sum
0  3274
1   501
2  6438
3   787

In [ ]:
# Would usually export for reporting purposes: df.to_excel("mileagesummary.xlsx")